[2016-09-18 05:57] little-dude opened #2 "make xi-tui a vim-like editor"
Vim is the only editor I know so I'm very tempted to mimic its behaviour.

For now it is blocked because there is currently no way in termion to detect a single `Esc` press, but it should be possible after [this PR](https://github.com/ticki/termion/pull/45) gets merged.

Related discussions:

- https://github.com/google/xi-editor/issues/93
- https://github.com/google/xi-editor/issues/85
- https://

[2016-09-18 06:48] llogiq commented on #2
While I also love vim, I think the market for vim-like editors on the terminal is a bit crowded. :smile:

Mimicking the xi UI's keyboard shortcuts will make it easier to move between TUI and GUI.

[2016-09-18 19:32] little-dude commented on #2
Yeah that's right actually...
I'll try Xi's native UI when I have a mac around, see how it feels and which shortcuts it's using.

[2016-09-26 14:42] rawsp33d commented on #2
What do you think the best way to mimic vim behavior with Xi would be? Should it be done in the core module, or in a specific front-end like xi-tui?

I can't see myself ever using another editor than vim/neovim, but if a project like Xi showed enough promise I would certainly help out or take charge of such an undertaking.

[2016-09-27 21:06] hauleth commented on #2
By the way, this is called modal text editor. And like @rosshadden I would love to reconsider Xi as my main editor if it would have modal editing mode.

[2016-09-28 06:09] llogiq commented on #2
I think that a frontend should be able to present both modal and combined editing modes.

[2016-10-06 15:48] steveklabnik commented on #2
:+1: from me as well

[2016-10-06 16:36] little-dude commented on #2
The front-end seems like a good place to me, but I need to start implementing it to be sure.

[2016-11-01 20:55] owais commented on #2
Such plugins will be easy to implement later on in the life of Xi. I think it would be interesting to think of Vim like modal editing system for Xi instead of just replicating Vim as is. A clean slate could bring best of Vim and Emacs together. Vim's ability to let the user learn some basic commands and then combine them to form complex ones is it's greatest power. Xi needs to have a Vim inspired

[2016-11-02 03:11] rawsp33d commented on #2
@owais That's fair.  I wonder if the best (and fastest) way to achieve this might be to make the editor APIs themselves very granular and composable, to facilitate powerful mappings.

That way we aren't just re-implementing vim, but at the same time are not heading down the impractical path of somehow recreating a similar magic, with key mappings and design choices that everyone comes to love.  If

[2016-11-06 23:55] hectorgrey commented on #2
Via the front end is probably easiest.  After all, xi-core doesn't need to know that I pressed j to go down a line; it needs only know that the cursor has gone down a line.

I would, however, argue that in a modal environment, it would be best to keep the the default key bindings as superficially similar to vim as possible - primarily because you're going to have a very hard time getting vim users

[2016-11-19 04:04] EpocSquadron commented on #2
@little-dude I'd love to help out with implementing some of this. I've started playing around with the codebase, but let me know if you'd like to coordinate efforts.

[2017-04-17 13:23] nicoburns commented on #2
IMO https://github.com/slap-editor/slap is the benchmark on a good TUI (I assume this stands for text-ui?) editing experience. Highlights:

- first-class mouse support (even over an SSH connection)
- Modern keybindings (Ctrl+S = save, Ctrl+Q = quit, etc)
- syntax highlighting for 100+ languages

This makes it an absolute dream for editing files (e.g. config files) on remote servers over SSH. If yo

[2017-04-17 17:27] jncraton opened #5 "Frontend doesn't function with recent builds of xi-editor"
This doesn't appear to work with recent builds of xi-editor. In particular, the syntax for updates has changed significantly. See the following for more information:

https://github.com/google/xi-editor/blob/protocol_doc/doc/update.md

[2017-04-17 20:17] mrcaron opened #6 "Would love windows support..."
Perhaps using something like this... https://github.com/rschmitt/heatseeker/blob/master/src/screen/windows.rs

[2017-04-21 00:32] ajm188 opened #7 "`new_tab` has been replaced with `new_view`"
This relates to #5.

I have a branch, `fixes-for-protocol-changes`, on my fork to work on this. I will probably also have to tackle the the `scroll_to` change to the protocol as well, since I just hit that snag.

[2017-04-21 17:52] ajm188 opened #9 "scroll_to is now its own request"
It looks like this:

`scroll_to [line, col]`

I'm not sure the best way to handle this, since we lose the `height` and `first_line` information that we get with other update requests. This may mean that we need to maintain a local copy of the current "lines" buffer to handle the scrolling, but I'm not sure at this point.

[2017-04-22 01:30] little-dude commented on #7
Hi!

I've not touched `xi-tui` for a while but I should have a little bit of time in the coming weeks.
One thing I'd like to do it switch to [xi-rpc](https://docs.rs/xi-rpc/0.2.0/xi_rpc/) instead as a client, so this part may change soon.

[2017-04-22 01:31] little-dude commented on #5
Hi,

Yeah I know, I've been quite inactive on this project lately.
I should have a little bit of time in the coming weeks so I'll fix that :)

[2017-04-22 19:18] ajm188 commented on #7
Cool! That seems like a good option. The more I dig down this rabbit hole, the more I notice how things have changed on the core :/

[2017-04-22 19:26] ajm188 opened #10 "Find latest compatible core version"
Given #5, #9 and the changes I've been working through for #7, I think it may be prudent to find the last stable version of the core this frontend worked with, and advertise that in the README, until we can properly overhaul the frontend to work with the latest protocols

[2017-04-23 01:32] ajm188 commented on #10
This works on [bc2d545](https://github.com/google/xi-editor/tree/bc2d5451e9d24be34a8b11213fe51a98cb3b9922), and possibly later commits.

[2017-04-23 03:22] ajm188 commented on #10
Doing a `git bisect v0.2.0 89a8359` shows that 429da468f6819765e969807a41ff19680316ddce is the most recent core commit which we're currently compatible with.

[2017-04-23 03:51] ajm188 opened #12 "Specify file to edit at startup"
Currently, we always open "test-file" for editing. Let's change that.

[2017-04-23 16:17] #10 closed

[2017-04-27 11:27] ajm188 opened #15 "Set up travis build"
@little-dude I don't have the appropriate permissions, but I'd love to start writing some unit tests for various parts of the frontend, and configure travis to block PRs for broken builds. Can you take care of that (or give me superpowers)?

[2017-04-27 11:33] #12 closed

[2017-04-27 11:52] ajm188 commented on #5
Closed via https://github.com/little-dude/xi-tui/commit/4afc8db5a836aeda3b8131444d27c75c00a92506

[2017-04-27 11:52] #5 closed

[2017-04-27 11:52] ajm188 commented on #7
Closed via https://github.com/little-dude/xi-tui/commit/4afc8db5a836aeda3b8131444d27c75c00a92506

[2017-04-27 11:52] #7 closed

[2017-04-27 11:53] ajm188 commented on #9
Closed via https://github.com/little-dude/xi-tui/commit/4afc8db5a836aeda3b8131444d27c75c00a92506

[2017-04-27 11:53] #9 closed

[2017-04-27 11:53] ajm188 opened #17 "Investigate using xi_rpc"
[Docs are here](https://docs.rs/xi-rpc/0.2.0/xi_rpc/)

[2017-04-27 13:28] IGI-111 commented on #17
Last I checked it's more of a lib for the core than anything else. There's no simple client crate for xi of yet as far as I know.

[2017-04-27 14:12] little-dude commented on #17
Apparently, you can [send rpc requests](https://docs.rs/xi-rpc/0.2.0/xi_rpc/struct.RpcPeer.html#method.send_rpc_request_async), so I think it's possible to build a client with it.

One nice thing with `xi-rpc` is that it would also allow us to handle requests from the core. All we have to do is implement the [`Handler`](https://docs.rs/xi-rpc/0.2.0/xi_rpc/trait.Handler.html) trait. I'm not sure th

[2017-04-27 15:47] little-dude commented on #15
I'll do that today.
Wrt permissions, as far as I can see, I can only make you a "collaborator" with push access, not an admin.

[2017-04-27 16:36] little-dude commented on #15
Done :)
Let's leave this open though, I'm sure there are a few things we'd like to add to CI:

- clippy
- rustfmt maybe?
- tests

[2017-04-27 18:13] ajm188 commented on #15
little-dude++

Definitely agree we should get rustfmt on this; I genuinely have no idea what "correct" rust code looks like :)

Also, I'll submit a few PRs to get some of these functions under test

[2017-04-27 20:27] ajm188 opened #20 "Remove dead code in src/core.rs"
As discussed in [#19](https://github.com/little-dude/xi-tui/pull/19#issuecomment-297814638), removing the "ignore dead code" directive for core.rs makes the output of `cargo build` quite noisy.

We should clean up this code before we remove the directive, to prevent build logs from being too noisy to be helpful.

[2017-04-27 21:13] ajm188 commented on #15
I think this is because the repository is under your individual account. Worth making a xi-tui org account and sticking the project under there? Then we can both be admins. I'll squat the name while I await your reply.

[2017-04-28 11:32] ajm188 opened #26 "Handle styles"
We currently completely disregard the `styles` vector in Lines that we receive from the backend. We should maybe (?) do something with this

[2017-04-28 11:36] ajm188 opened #27 "Handle terminal resizing"

[2017-04-28 11:38] ajm188 opened #28 "Add custom error type for OpType FromStr implementation"

[2017-04-30 23:40] little-dude commented on #26
I think this could be done in the `Line::render` method if/when https://github.com/little-dude/xi-tui/pull/33 gets merged, if you want to start working on it. I don't know what's the state of styles in the core though.

[2017-05-01 11:25] ajm188 commented on #26
Good point. I'll check in on IRC later today I hope.

[2017-05-01 11:53] ajm188 opened #34 "apply() method of Operation struct can panic if old_ix is out of bounds of old_lines"

[2017-05-07 22:54] #27 closed

[2017-05-07 22:54] little-dude commented on #27
done!

[2017-05-07 22:57] little-dude commented on #17
I forgot to come back to this issue. I did give it a try in https://github.com/little-dude/xi-tui/pull/23, but as @IGI-111 said, it's not adapted to a frontend, which Raph confirmed on irc.

[2017-05-07 22:57] #17 closed

[2017-05-07 22:58] little-dude commented on #15
I think things are fine for now. If we have other repos (like a crate for rpc for instance) then it will make sense to have a separate organization. Let's keep the name for now :)

[2017-05-07 22:58] #15 closed

[2017-05-08 01:06] ajm188 commented on #15
Agreed :)

[2017-05-12 16:28] eyelash opened #39 "optimize the line cache"
Right now every invalid line is explicitly stored in the cache which means every update will copy a lot of invalid lines for large files. Most other front-ends have two integers that store the number of invalid lines before and after the lines that are explicitly stored. Take a look at the implementation in [xi-mac](https://github.com/google/xi-mac/blob/master/XiEditor/LineCache.swift), [xi-gtk](h

[2017-05-12 16:56] little-dude commented on #39
Yes I did notice that, when I looked at `xi-gtk`. That's indeed something I need to fix.

[2017-07-15 01:58] moore3071 opened #40 "Exit gracefully from SIGINT"
C-c will put the terminal in a messed up state that requires running reset (or some equivalent command). It seems that SIGINT isn't being caught in order to exit curses mode and restore tty mode.

[2017-07-15 02:01] moore3071 opened #41 "Documentation on key-bindings"
Would it be possible* to post the current key-bindings or link to them in the README if they exist elsewhere?
*Fixed a typo

[2017-08-20 10:23] nothingnesses commented on #41
So far I have found ^w which is save and ^c which is quit. On the topic of key-bindings, it would be nice to be able to set custom ones.

[2017-09-15 20:43] mssun opened #43 "xi-tui only works with a log_config.yaml file in the working directory"
xi-tui will first open log_config.yaml when opening:

https://github.com/little-dude/xi-tui/blob/master/src/main.rs#L62

If there is no log_config.yaml, unwrap will fail.

[code]

[2017-09-15 20:46] mssun commented on #2
The feature you mentioned has been merge: https://github.com/ticki/termion/pull/45

Any future plan for this project?

[2017-09-21 16:54] little-dude commented on #2
Yeah it's definitely not dead. I just work on it by periods, depending on my free time.

I just started to evaluate the possibility to replace the rpc code by something based on tokio.
I made a [crate for messagepack-rpc](https://github.com/little-dude/rmp-rpc), and I'm thinking I could easily add support for xi's json-rpc protocol.

Once, this is done, I want to support styles, so that I can use

[2017-09-21 17:25] little-dude commented on #43
Yeah I'm getting rid of that soon, this is bad. I was just convenient in early stages to get something working without adding code for logging.

[2017-09-21 17:35] mssun commented on #2
Thanks @little-dude . Actually, I was looking for a minimum terminal-based editor written in pure Rust.

[2017-09-21 17:42] little-dude commented on #2
In case you missed it, there is also [smith](https://github.com/IGI-111/Smith) which currently has more features than xi-tui. I intend to catch up at some point though!

[2017-09-21 17:46] mssun commented on #2
Thank you. I have tried Smith, it turns out that it relies on x11 which is a C/C++ libraries.

[2017-09-22 17:01] little-dude commented on #43
This should be fixed by d6da168e20d1709e3be4bfdf96eb4bcc19bef753

[2017-09-22 17:01] #43 closed

[2017-09-22 17:03] mssun commented on #43
Great, thanks @little-dude .

[2017-09-25 17:49] mssun commented on #41
I think it's would be nice to follow a state of art key bindings: say GNU nano, or Vi.

[2017-09-25 22:46] little-dude commented on #41
I don't know to which extend this will be supported by the core yet.
There is [some activity](https://github.com/google/xi-editor/pull/291/files) suggesting that it will be supported at least partially, so I'm inclined to wait and see here.

[2017-09-25 22:47] little-dude commented on #40
Definitely very annoying I agree.
~~fwiw, you can do `reset`  to restore your terminal, until I fix this.~~
edit: that is literally your first sentence, sorry.

[2017-09-26 22:41] moore3071 commented on #40
To be fair, the reset solution is sort of hidden in my description. If you missed it, then someone else will too. So for clarity's sake:

Temporary fix: run `reset` in your terminal.

[2017-10-05 01:23] little-dude commented on #40
I think this is fixed in the tokio branch :)
I hope to merge it by end of next week.
Maybe earlier if I have some time this weekend.

[2017-10-05 16:30] little-dude commented on #39
This is fixed in the tokio branch.
I hope to merge it by the end of next week.

[2017-10-07 04:03] little-dude commented on #40
I merged the tokio branch so this should be fixed.

[2017-10-07 04:03] #40 closed

[2017-10-07 04:03] little-dude commented on #39
done :)

[2017-10-07 04:03] little-dude commented on #28
This should not be needed anymore.

[2017-10-07 04:03] #28 closed

[2017-10-07 04:04] little-dude commented on #20
The whole module is now gone.

[2017-10-07 04:04] #20 closed

[2017-10-07 04:04] little-dude commented on #34
I refactored the cache, I don't think this applies anymore.

[2017-10-07 04:04] #34 closed

[2017-10-07 17:23] little-dude commented on #39
re-opening because I got this wrong apparently: https://github.com/google/xi-editor/issues/407

[2017-10-08 19:00] little-dude commented on #26
this is now done.

[2017-10-08 19:00] #26 closed

[2017-10-13 20:21] little-dude commented on #41
I documented the only two key bindings in the README. I'm going to close this for now. I started to look at a vim mode with vim keybindings, but I'm not sure when I'll finish.

[2017-10-13 20:21] #41 closed

[2017-11-20 09:23] gnzlbg commented on #39
That bug is closed, so is this closed too?

---

BTW is this frontend usable?

[2017-12-11 19:18] bytebuddha opened #47 "Needs to send the 'client_started' rpc to enable syntax highlighting"
I will have some free time later in the week, i have a local fork with this working with [xdg](https://github.com/whitequark/rust-xdg), if your ok with the added dependency i can create a PR.

[2017-12-12 17:47] ijt opened #48 ""Required key not available""
I tried running xi-tui on a README.md file and it crashed like this:

[code]

[2017-12-12 17:51] ijt commented on #48
Never mind, just had to refresh my LOAS credentials.

[2017-12-12 17:51] #48 closed

[2018-01-17 06:15] rabsifell opened #49 "Can't save"
how do i save ? i saw this:
For now, there are only two shortcuts:
^w saves the current view
^c exits

but where do i type these commands, it just writes the commands it in the file i'm editing

sorry i just couldn't figure it out :/

[2018-01-20 17:43] patrickisgreene commented on #49
Third party here, Those aren't commands,  just type Ctrl-W to save and Ctrl-C to quit.

[2018-01-31 20:45] ryukinix commented on #47
How you did that? I have the same problem and I want a fix for it.

[2018-02-01 03:43] ryukinix commented on #47
@bytebuddha I tried your own fork, but syntax highlight is not working yet... I should do something more? I followed the instructions wrote on the README.md of this repository, installed xi-core and the syntax highlight syntect plugin as well.

[2018-02-01 13:54] patrickisgreene commented on #47
@ryukinix  it should be working but i haven't tried in like a month. do you have a config directory in $XDG_CONFIG_HOME(~/.config/xi) witch contains the syntect plugin?

EDIT: didn't mean to close it

[2018-02-01 22:07] ryukinix commented on #47
@bytebuddha I fixed after saw that the install instructions was pointing to do a `cargo install` instead `make install`, this fix the problem.

[2018-03-01 14:56] afsec opened #53 "Compilation error: mio-uds --> mismatched types"
[code]

[2018-03-02 18:00] jorge-jbs commented on #47
I have installed the syntect plugin with `make install` and I don't get syntax highlighting. My plugin folder looks like this:

[code]

Is there anything I am doing wrong? Thanks for the help :)

[2018-03-02 18:06] ryukinix commented on #47
Yes, this issue is not fixed yet.

There is some forks with have this fixed:
- https://github.com/bytebuddha/xi-tui
- https://github.com/DestructHub/xim

[2018-03-02 18:13] little-dude commented on #47
@bytebuddha @ryukinix if you're actively maintaining a fork, should I update the README and link to your project instead? I have not had much time to work on `xi-tui` lastly. Or I can make you admin of this repo if you prefer, or transfer ownership to a xi-tui organization. Let me know what you prefer.

[2018-03-02 18:16] little-dude commented on #47
An organization might make sense, since there's also the `xrl` repo.

[2018-03-03 03:57] patrickisgreene commented on #47
I think an xrl organization would be best(with xi-tui as a repo), it would be easier to share work between us and as Xi grows we could add more crates like xrl that would be useful to many different frontend's.

[2018-03-03 04:00] ryukinix commented on #47
I vote for the organization

[2018-03-03 04:10] patrickisgreene commented on #47
@ryukinix Just curious would you give any thought into merging xim under said organization and we can all begin working together on thing's?

[2018-03-03 04:32] ryukinix commented on #47
I'm a completely ok with that. When the organization will be made, I may transfer the ownership of xim to this organization, let's say DestructHub/xim -> xrl/xim. I don't have sure yet if the xrl is the better name for this organization, btw -- but I don't have any suggestion for now too.

Since we three, me, @bytebuddha e @little-dude, are doing stuff about xi editor written in Rust would be nice

[2018-03-03 05:03] patrickisgreene commented on #47
That's cool I'd like to fool around with it! I personally would like xi-tui to be more vim like. It just seem's necessary to have a vim like xi-editor, but that's just personal preference. None the less I'd like to contribute to all xrl, xi-tui and xim and an organization would simplify that.

I also am not big on the name xrl maybe xi-tokio?

[2018-03-03 05:33] ryukinix commented on #47
I agree with that, but since I think that xi-tui maybe will achieve that goal, I'm taking an other side.

:thinking:  seems better

[2018-03-03 06:20] patrickisgreene commented on #47
I agree, it's about time for something better than vim/emacs.

Other names i've thought about before, though i'm not sure if they should follow xi convention or not.
    - xi-engine
    - xi-frontend

[2018-03-03 06:51] ryukinix commented on #47
`xi-frontend` seems explicit what we do, but maybe is too broad? :thinking:

But I'm ok with xi-frontend. `xi-engine` can be misleading since engine can be anything and someone can be confused with the xi-core stuff.

[2018-03-03 14:46] little-dude commented on #47
Hey guys. I'm dealing with some personal issues so will be offline for the coming week. You can go ahead and create the organization, I'll try to transfer me repos if I find some time to login this week.

[2018-03-03 15:03] patrickisgreene commented on #47
I don't think it would be to broad that same organization could be used to host other common front end library's. I'd eventually like to extract the serde code in xrl to an xi-serde crate so any front end can use them without bringing in the tokio/futures dependencyies. but name's are unimportant to me. @ryukinix  Do you want to make the organization whenever you find a name you like and time to d

[2018-03-03 17:37] ryukinix commented on #47
I can create the organization without problems. I'll get `xi-frontend` since is the best name until now.

[2018-03-03 17:40] cmyr commented on #47
Fwiw there's definitely interest in possibly using xrl in xi-core at some point, but we'll get there when we get there.

[2018-03-03 17:41] cmyr commented on #47
And while everyone's bike-shedding, another possible name for an org might be `xi-term`?

[2018-03-03 17:44] ryukinix commented on #47
:thinking: I think xi-term is a new term (terminology) that close the domain too much about terminals. I think xi-frontend is in someway better. For now we'll have that repositories:

- xim (fork of xi-tui but keeping minimalism as priority)
- xrl (the xi RPC protocol based on tokio)
- repos of bytebuddha that I don't know what is

But bytebuddha I think have some graphical interface as xi client,

[2018-03-03 17:45] ryukinix commented on #47
@bytebuddha @little-dude you are owners of the org too, please, accept the invitation.

[2018-03-03 19:13] patrickisgreene commented on #47
Awesome!

I had intentionally left that out because i'd also like @little-dude to consider changing xi-tui name to xi-term, during the move.

[2018-03-03 21:31] patrickisgreene commented on #47
I know It's probably confusing looking at my xi related repo's so just so we are clear my personal projects are:
 - **Zen** is a front end based on webrender and limn but as I've experimented with it in private repos I've pretty much decided webrender, and especially limn just aren't ready for it yet so is on hold.
- **xi-core-py** This one was just my exparement creating python modules with the p

[2018-03-03 21:42] patrickisgreene commented on #53
hmm What rustc and cargo version's are you using?

[2018-03-03 22:11] ryukinix commented on #47
Which repos do you have interest to migrate to our organization?

[2018-03-04 03:08] ghost commented on #53
[code]

[2018-03-04 03:13] patrickisgreene commented on #47
just a private repo called xi-serde, it's hard to find time to work on things at the moment. So i probably can't add it for a few week's

[2018-03-04 03:59] patrickisgreene commented on #53
I'm unable to reproduce this error and don't have much time to look for a solution :/. Just a quick look through mio and friends Issue's, it seem's to have had trouble in the past compiling for the aarch64-linux-android target the only thing i could think of is maybe update rustc & cargo.
I'm sorry i can't provide a better answer.

[2018-03-04 06:57] little-dude commented on #47
Hey :) I transfered `xrl`. I could not transfer `xi-tui` because there's already a fork of it in the org (`xim`). If we want to transfer xi-tui we'll have to remove xim first. I'm ok renaming `xi-tui` to `xi-term`.

[2018-03-04 07:16] ryukinix commented on #47
Hmm... this is a problem. Because you'll lost all the issues and stuff. I can as well do the same, delete the xim repo. I'll try do a type of migration, wait a little.

[2018-03-04 07:51] ryukinix commented on #47
@little-dude done, now you can transfer it.

[2018-03-05 13:53] little-dude commented on #47
Done. I'll be offline for a while now.

[2018-03-10 03:34] patrickisgreene commented on #39
This was fixed long Ago closing!

[2018-03-10 03:34] #39 closed

[2018-03-10 03:36] patrickisgreene commented on #47
I think everything is just about flushed out here closing!

[2018-03-10 03:36] #47 closed

[2018-03-11 04:29] patrickisgreene commented on #6
This is blocked by ticki/termion#103

[2018-03-12 14:48] little-dude commented on #53
I'm going to close this since this is not really an issue with xi-term itself. @afsec you should open an issue on the [mio-uds repo](https://github.com/alexcrichton/mio-uds/issues).

[2018-03-12 14:48] #53 closed

[2018-03-13 18:58] little-dude opened #60 "migrate to failure for error handling"
Currently we're using error-chain but it seems that failure is going to be new standard for error handling.

[2018-03-14 03:19] patrickisgreene commented on #60
agreed i can work on this later in the week if it's still open, I've been meaning to look into failure

[2018-05-14 19:38] fominok commented on #60
I think it can be closed now

[2018-05-14 19:39] #60 closed

[2018-05-15 00:52] ryukinix commented on #49
We should close this issue, the title is misleading, seems a bug but is just a confusion with the ^key notation.

[2018-05-17 20:38] ryukinix commented on #49
I'm closing this, if someone appears needing something about that, feel free to open it again.

[2018-05-17 20:38] #49 closed

[2018-07-23 14:39] bytebuddha opened #65 "Refactor"
xi-term need's to be refactored in order to continue adding components, Id like to change the directory structure to make this easier. I don't plan on changing any code with this change just organize the modules and files.

I think there the best way to do this(for now at least) is to create two sub-modules, 'core' & 'widgets'.

The core module will hold files like tui.rs and terminal.rs as well a

[2018-07-23 14:49] little-dude commented on #65
Sounds like a good idea to me!

[2018-07-23 15:14] bytebuddha opened #66 "Create Widget Abstraction"
Currently all xi-term layout happens within the `Tui` struct, as we add more component's this will get unwieldy.

My idea is to create a `Widget` trait and a `InputResult` enum. Inside the `Tui` struct there will hold a vector of widgets as well as the index of the active widget. as `Tui` reads input events it will pass them along the the active widget and re-render if required
[code]

## Widget

[2018-07-23 16:17] bytebuddha opened #67 "Cross Platform Goals"
I love termion, but it doesn't work on windows witch is frustrating cause i have to use windows at work but would like to hack on the same projects i do at home on my Linux.  Termion does have an issue about windows support [103](https://gitlab.redox-os.org/redox-os/termion/issues/103) witch i've commented on asking the status of, but it seems to have gone stale

To clarify by cross platform i onl

[2018-07-24 00:57] patrickisgreene commented on #66
After attempting to implement this, I think this is not the way to go. Storing the Editor as a widget in a Vec<Widget> is more costly than first anticipated and since the Editor itself will have to be Stored outside the Widget area i think It would make more sense to drop this and work on refactoring the code some more to allow for better readability and maintainability. The first step i plan on m

[2018-07-25 00:05] #65 closed

[2018-07-27 16:42] bytebuddha opened #70 "Tracking Issue for Commands"
If #69 is merged we have the ability to run commands from the TUI. So we'll need to start discussing what commands should be implemented, what a command sould look like anyway.

In #69 for Command structure i chose to have 2 forms of each command a 'long' and 'short' version, so for example to save the current buffer you could type 's' or 'save' and they are seen as the same command. But is this r

[2018-07-29 01:51] #66 closed

[2018-08-14 14:51] suhr commented on #2
Actually, there's a way to combine both Emacs and Vim styles:

- <kbd>Ctrl+Key</kbd> works like a normal hotkey
- Pressing and releasing <kbd>Ctrl</kbd> switches the editor into command mode. Pressing <kbd>Esc</kbd> switches it back into edit mode
- Hotkeys are actually commands

So you can use xi like a normal editor but switch to vim style if you want to. By the way, it would be nice to support

[2018-09-27 13:57] Phundrak opened #73 "Backspace does not work when launched in UXTerm"
Just as the title says, the backspace does not work in xi-term when launched in UXTerm (urxvt, `rxvt-unicode`) on GNU/Linux (Arch Linux).
From `urxvt-help`:
[code]

`xi-term` launched with `cargo run --release -- ~/test/test.cpp`
Both xi-core and syntect-plugin are installed and running.

I also tested xi-term in Gnome Terminal, and it ran without any issue, hence I suspect UXTerm to be the cause

[2018-09-27 15:07] patrickisgreene commented on #73
I just Installed UXTerm on ubuntu 18.04 to give this a look. I'm just using a default config and have made no modifications.
[code]
Strangly enough backspace seems to work as intended, however the syntax highlighting is janky. and the background is green. I think this has something to do with ubuntu's XDefaults but i'm not sure i'll keep looking
![xi-term-unicode-urxvt](https://user-images.githubu

[2018-10-02 03:08] patrickisgreene commented on #73
After having time to look into this today, i realized something i should have checked earlier [rxvt-unicode](http://pod.tst.eu/http://cvs.schmorp.de/rxvt-unicode/doc/rxvt.1.pod#COLOURS_AND_GRAPHICS) doesn't have 'True Colour' support  witch xi-term requires. So this is a no op atleast for now

[2018-10-05 03:05] ktomsic commented on #73
It's possible your terminal's configured to send ^H (the ASCII "BS" / "BackSpace" character, 0x08). There's some info about it in the [rxvt-unicode faq](http://pod.tst.eu/http://cvs.schmorp.de/rxvt-unicode/doc/rxvt.7.pod#What_s_with_the_strange_Backspace_De). You should be able to see what character / sequence backspace sends by typing Ctrl-V then a backspace. Xi-term expects '^?' (the ASCII "DEL"

[2018-10-05 12:47] patrickisgreene commented on #73
@ktomsic thanks for your input, I'd certainly be willing to accept a pull request for this.

[2018-10-10 14:22] patrickisgreene commented on #73
This should be fixed now @Phundrak can you confirm?

[2018-10-10 16:43] Phundrak commented on #73
Yes I do, no more issues when using backspace!

[2018-10-10 16:46] #73 closed

[2018-10-14 06:03] Aniq55 opened #80 "Incorrect positioning of the cursor when \t is not exactly 4 spaces"
Incorrect positioning of the cursor while typing, after I press tab.
![screenshot from 2018-10-14 08-00-17](https://user-images.githubusercontent.com/20151858/46913109-737e6d00-cf87-11e8-8358-570dda5c2913.png)
I just typed `s"` but the cursor is highlighting `a`. This error ocured after I pressed tab to indent.

[2018-10-15 15:11] little-dude commented on #80
Hi @Aniq55 !

This should indeed be handled by `xi-term`. But for now, `xi-term` expects a 4 spaces tab length. The [caveats section](https://github.com/xi-frontend/xi-term#tabs) in the README.md.

TLDR: on linux, before starting xi-term, run:

[code]

On Mac I don't know, but if you know, please open a PR to update the README :)

[2018-10-15 15:21] Aniq55 commented on #80
Okay, @little-dude so this issue should be closed here and opened in `xi-term` instead, right?

[2018-10-15 15:23] little-dude commented on #80
Well the fact that we don't handle tabs correctly is a bug, so this issue is still valid. I'll just edit the title, label it as a bug, and leave it open. In the meantime, you can use the workaround from the README.

[2018-10-27 02:02] MtDersvan opened #86 "failed to spawn xi-core on Ubuntu 18.04"
Hi, followed the instructions but keep getting this error:
[code]
Any suggestions or a manual?
Thanks

EDIT:
[code]

[2018-10-27 13:39] patrickisgreene commented on #86
Have you installed xi-core? xi-term expect's the binary to be located somewhere in $PATH, you can install it like this
[code]

[2018-10-29 16:01] MtDersvan commented on #86
Thanks, @bytebuddha `sudo mv target/release/xi-core /usr/bin/` - helped

[2018-10-29 16:01] #86 closed

[2018-10-29 16:12] little-dude commented on #86
Fwiw I find copying stuff into `/usr/bin` a bit brutal. A better solution would be to make sure your `PATH` contains the directory that contains the `xi-core` binary that is built by cargo. If you use `cargo install` instead of `cargo build`, cargo should put the binaries under `~/.cargo/bin`, so you can just add this to your bashrc:

[code]

[2018-10-29 17:36] patrickisgreene commented on #86
@little-dude that's a much better idea, maybe we should add a note in the readme about adding ~/.cargo/bin to path?

[2018-10-29 17:38] MtDersvan commented on #86
Thanks, now I got it. I have added `~/.cargo/bin` to the `PATH` initially, but used `cargo build` mentioned in the `xi-editor` repo.

[2018-10-29 17:53] little-dude commented on #86
@bytebuddha yeah I'll do that.

[2018-10-29 17:54] little-dude commented on #86
Yeah that's confusing indeed. Definitely worth a note in the README.

[2018-12-15 14:05] fominok opened #89 "Client blinks"
When cursor moves fast like on constant holding down key I see how xi-term blinks, like redrawing or something. Checked in Alacritty and xfce4-terminal. Is it a config issue or a bug?

[2018-12-17 13:38] patrickisgreene commented on #89
It is a bug. It because currently we are rendering every line in the view on every frame

[2018-12-21 12:54] fominok commented on #89
@bytebuddha, there is a fix in #90, could you take a look?

[2018-12-22 09:59] #89 closed

[2018-12-28 03:01] bytebuddha opened #92 "version 0.1.0"
We should start thinking about what a version 0.1.0 would look like, so i/we can begin working towards that goal. I think we should list all the desired features/bug fixes for a 0.1.0 version in this issue.

I'll start:

### 1. A Way to view error messages.

### 2. Horizontal Scrolling

### 3. Find

### 4. Optimize cursor rendering

Are there any other features anyone would like in a first version

[2018-12-28 03:02] patrickisgreene commented on #80
This should have been fixed a few commit's ago. I'm going to go ahead and close. feel free to reopen if this isn't the case

[2018-12-28 03:02] #80 closed

[2019-02-02 20:58] prabirshrestha commented on #6
There is a termion PR for support for windows but it hasn't moved. https://gitlab.redox-os.org/redox-os/termion/merge_requests/151. I was able to compile xi-term to windows using it.

-  In `Cargo.toml` update the termion to use this instead and delete `Cargo.lock` file
[code]
- Then update `src/core/tui.rs`

[code]

Seems like `xdg` should be optional for windows builds.

It seems like the first

[2019-03-02 19:17] fominok opened #94 "Multicursors"
Afaik Xi has support of multicursors, does xi-term support it?

[2019-03-04 13:56] patrickisgreene commented on #94
Sorry for the late response. At present no it does not

[2019-03-07 04:08] ryukinix opened #95 "Option to enable/disable line numbers"
It's nice to have line numbers, but not always. I think we should have a command to toggle that like emacs does as `linum-mode`. Maybe `M-x ln` ? `ln: line numbers`.

[2019-03-07 14:10] patrickisgreene commented on #95
Yes there totally should be, i didn't include it because there should also be a config file option for this is as well and i just didn't have the time when creating that PR to add it

[2019-03-07 14:55] ryukinix commented on #95
Ok.

[2019-04-09 18:26] patrickisgreene commented on #95
This has been implemented ! #96

[2019-04-09 18:26] #95 closed

[2019-04-10 02:28] ryukinix commented on #95
Great to hear!

[2019-04-22 15:25] nunotexbsd opened #98 "syntect-plugin highlight as a feature"
Hello,

It is possible to have syntect-plugin as a feature in Cargo.toml like, e.g.:

[features]
default = ["dist-client", "s3"]
all = ["dist-client", "redis", "s3", "memcached", "gcs", "azure"]
azure = ["chrono", "hyper", "hyperx", "rust-crypto", "url"]

(example from sccache Cargo.toml project)

I'm asking this because I'm porting xi-term to FreeBSD and it will be more easy to me to use:
.
CARGO

[2019-04-22 18:41] patrickisgreene commented on #98
Hi. To answer your question i'm not entirely sure. the syntect-plugin is a binary program much like xi-term itself and must be installed on the system to be use, There is no 'dependency' for Cargo.toml to manage. xi-term works regardless of whether the syntect plugin is enabled or not. I'm not sure i understand why a feature would be needed for this?

[2019-04-23 17:39] nunotexbsd commented on #98
Hello. I was thinking syntect-plugin as an internal xi-term plugin. You explain me that sintect-plugin is an external program that I think it is https://github.com/trishume/syntect . Correct? In that way I will need to port this as well so xi-term can use it.

Thanks,

Nuno Teixeira

[2019-04-23 18:00] patrickisgreene commented on #98
Yeah you pretty much got it. It is actually an [xi-core](https://github.com/xi-editor/xi-editor) plugin, located [here](https://github.com/xi-editor/xi-editor/tree/master/rust/syntect-plugin). The library you linked to is the syntect crate, it's a rust library for syntax highlighting it does nothing on it's own.

Yes in order to get this working you would have to Port xi-term, xi-core, and syntect

[2019-04-24 16:33] nunotexbsd commented on #98
Hello,

I just submit my first port to FreeBSD and now I'm waiting that it will be accepted/included in ports tree:

https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=237533

and I also adopted xi-editor port because it was without maintainer. Also waiting for permission so I can be port maintainer:

https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=237532

When this stage is complete I will inclu

[2019-04-24 16:56] patrickisgreene commented on #98
Awesome. That's great to hear! i thank you very much for your work

[2019-05-05 14:18] nunotexbsd opened #100 "xi-term ported to FreeBSD"
Hello,

I'm very pleased to announce that xi-term is now included in FreeBSD ports:

https://www.freshports.org/editors/xi-term/

Future plans:

- Port syntect so we can have syntax highlight
- A manual writen in mdoc format. I will fork this project, create a manual and then see if it is accepted.

Thanks,

Nuno Teixeira

[2019-06-01 11:58] rofrol opened #102 "cargo run - current package believes it's in a workspace when it's not"
I got this when trying to run:

[code]

[2019-06-04 05:57] little-dude commented on #100
Thank you very much @nunotexbsd !

[2019-06-04 05:58] #100 closed

[2019-06-04 06:06] little-dude commented on #102
Hello @rofrol and thanks for the report.

It seems that you cloned the `xi-term` repo under the `xi-editor` repo. That may be why it's confused.

I'd like to make the installation easier anyway by vendoring `xi-editor` like `gxi` does. I'll probably land that this week.

[2019-06-22 13:27] aDotInTheVoid opened #106 "Warn when closing without saving"
Currently, you can run `^c` and exit with unsaved work, and `xi-term` will exit without warning.

Ideally, the "normal" exit should not work with unsaved text. I think vim handles this nicely, where one usually exits with `:q`, but this does not work with unsaved work. Instead, vim warns you of this but also lets you use `:q!` instead.

[2019-06-24 07:38] msirringhaus opened #107 "Configurable keybindings"
I would love to have a more sublime-text like terminal editor.
This project seems to drift more towards vim.
It might be possible to get both, if keybindings where completely user-configurable with a config-file like sublime does it.
Would you be interested in a pull request for something like this?

## Goals:
1. Be able to simply copy&paste a sublime-keybindings file (of course most actions are n

[2019-06-24 22:30] fominok commented on #107
Looking at the suggested config I see that the only input is key/shortcut, while for modal editors it should also be a mode and some previous info like `2dd`. Maybe it would be ok to have a context as an argument for this config to be flexible enough. Anyway, having a command pallete with an ability to control editor without any shortcuts is a must, I think this is the direction, where it should g

[2019-06-25 05:56] msirringhaus commented on #107
Modal editing can be done (sublime has a Vintage mode for vi-keybindings, based on this keymap and some (don't know enough here) smaller plugins).
But it is definitely not a first-class citizen for this kind of config.

Lets do it like this: I currently work on a fork (https://github.com/msirringhaus/xi-term). I pack all keymap-related changes in a separate branch. You can then take a look at it a

[2019-06-25 09:02] fominok commented on #107
Anyway, the best approach is to have this in xi-core itself

[2019-06-27 05:46] msirringhaus commented on #107
Just fyi: My fork now has support for undo/redo, copy+paste, moving around + selections, and multiple cursors.
It is not modal, but I think you could take 90% as is, if you want.

[2019-06-27 18:45] little-dude commented on #107
@msirringhaus woah that's awesome!

I'll take a look at your branch as soon as possible (which should be Monday).

[2019-06-28 07:02] msirringhaus commented on #107
Well, that branch has now "long" been merged into master. I think you can just look at HEAD and take what you like.

Most of the really sublime-specific stuff happens in `core/config.rs`, `core/default_keybindings.rs` (which is a stupid hack for devel-purposes) and a bit in `core/cmd.rs`.
In `core/cmd.rs` mostly the naming of things is taken from sublimes keymap file. And, obviously, serde-derives

[2019-07-01 08:16] little-dude commented on #107
@msirringhaus would you mind opening a PR so we can discuss the changes easily? I have your branch checked out locally already but I can't comment directly on the code.

[2019-07-01 08:23] msirringhaus commented on #107
open

[2019-07-09 05:12] o01eg opened #110 "Cann't get syntax highlighting to work"
I have installed `xi-core` and `xi-term` in `/usr/bin`, and `syntect` in `/usr/share/xi/plugins/`.

When I open file in xi-term I didn't get syntax highlight.

[xi-term.log](https://github.com/xi-frontend/xi-term/files/3371275/xi-term.log)

[xi-term.rpc.log](https://github.com/xi-frontend/xi-term/files/3371276/xi-term.rpc.log)

[xi-core.log](https://github.com/xi-frontend/xi-term/files/3371278/xi-

[2019-07-09 06:44] o01eg commented on #110
Looks like it should set `client_extras_dir` parameter for `client_started` message.

[2019-07-09 07:05] o01eg commented on #110
What if use `option_env!` to allow set this value?

[2019-07-12 10:56] msirringhaus commented on #110
I have it under `$HOME/.config/xi/plugins/`, there it works.

[2019-07-12 11:07] o01eg commented on #110
It is not useful for system-wide installation or `noexec` on home folder.

[2019-07-12 11:17] msirringhaus commented on #110
Have you tried setting the approriate [XDG environment variables](https://standards.freedesktop.org/basedir-spec/basedir-spec-latest.html)?
I think xi-term and xi-core are using those.

[2019-07-12 11:20] o01eg commented on #110
I suppose those variables don't intended to point to read-only folders.

[2019-07-12 11:39] msirringhaus commented on #110
Ok, think you are right about `client_extras_dir`, which needs to be set.
Question is, is there a sensible mapping to XDG? `XDG_DATA_DIRS` are per default under `/usr/` (which usually is read only for normal users) and `extra_dirs` is supposed to be

So this might be a good fit?

[2019-07-12 11:50] o01eg commented on #110
Looks reasonable, but `XDG_DATA_DIRS` is a multiple dirs. Could `xi-core` changed to accept multiple dirs in `client_extras_dir` or so parameter?

[2019-07-12 12:00] msirringhaus commented on #110
Hm, either that or xi-term goes over `$XDG_DATA_HOME:$XDG_DATA_DIRS` one by one and checks if a `xi/`-subdirectory exists. If so, it takes it and sends it along. This would of course always take the first hit and ignore the others.

[2019-07-12 14:22] Cogitri commented on #110
That doesn't seem like the right location though, `share` usually is meant for arch independent stuff (icons, themes etc.), while binaries (like the plugins) should be in `lib` or `libexec`. Anyway,

[2019-09-16 13:43] c4eater commented on #89
Hi folks,

#90 doesn't fix this problem. It only presents an optimization that reduces stress on buffer writing.

The bug is still present (my case: xterm on linux).

A bit of explanation: The screen **always** flickers when the user makes a few force-redraws in rapid succession (eg when the cursor is moved down with a down arrow key). To make this flickering happen, you don't even need to run xi-

[2019-09-24 23:00] c4eater opened #112 "Int overflow+crash in escape_control_and_add_styles() for a large file"
Hi,

Here is what happens when I try to open a file with ~65k (around 0xffff) or more symbols:

[code]

I traced the output logs of xrl and found that xrl is receiving the full contents of test.dat from xi-core, concatenated into a single very long line with "\n"'s (which is definitely unexpected; this huge line is added to linecache without any splitting):

[code]

No surprise that view.rs encoun

[2019-09-24 23:28] c4eater commented on #89
@fominok / @bytebuddha can you please comment on this? The blinking is definitely present.

I confirm that this is happening due to frequent re-rendering of all window lines. I wrote a view.rs hack that skips render_lines() if linecache didn't change and that fixed the blinking. It's not a proper fix; I was using a full backup of the visible lines and then a linewise comparison between the backup

[2019-09-25 11:18] fominok commented on #89
As you rightly said, my fix was an optimization to move from "annoying" to "ok for now" state of blinking.
Personally I'm waiting for Xi SDK to reuse its components for standalone editors as the protocol cannot fit anything and something like modal editing needs to be implemented on the client-side, or there is a need to introduce something like middleware. Answering your last question: this preve

[2019-09-30 17:20] #102 closed

[2019-09-30 17:33] rofrol opened #113 "preferences.xiconfig is not read"
I have this:

[code]

Setting theme manualy works:

`:t InspiredGitHub`

[logfile.txt](https://github.com/xi-frontend/xi-term/files/3672480/logfile.txt)

[logfile.rpc.txt](https://github.com/xi-frontend/xi-term/files/3672481/logfile.rpc.txt)

[2019-10-08 19:02] c4eater commented on #112
Cannot reproduce this anymore. This was either a local misconfiguration or a xi-core (?) issue fixed in the past two weeks.

[2019-10-08 19:02] #112 closed

[2019-10-16 12:23] c4eater commented on #89
Have a reply from the xi-core devs, see the talk on the xi-core issue page.

Bottom line: this may become a todo item for xi-core in future, but for the time being, xrl / xi-term would better rely on the protocol as it is.

That said, this problem can be solved on the client (xrl::LineCache side) by introducing a line-level cache invalidation (= a "dirty" bit attached to every cache line), so that

[2022-11-23 20:18] Cyrix126 opened #116 "panick at runtime"
## Details
-Linux 5.15.0-53-generic #59~20.04.1-Ubuntu SMP Thu Oct 20 15:10:22 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux
- rustc 1.65.0 (897e37553 2022-11-02)
- installed from source

`thread 'tokio-runtime-worker-0' panicked at 'attempted to leave type `internal::Local` uninitialized, which is invalid', /home/lm/.cargo/registry/src/github.com-1ecc6299db9ec823/crossbeam-epoch-0.7.1/src/internal.rs:4

[2022-11-23 20:40] nunotexbsd commented on #116
Same here (FreeBSD, rust 1.65.0).

It's a pity because this was one of the first programs that I ported to FreeBSD to test xi-editor core.
It will be nice that this project do some maintainance updates like xi-editor is doing.

All frontend apps around xi-editor are dying?